@font-face {
	font-family: "avenir";
	src: url("../Avenir.ttf");	
}
html,body{
	margin:0;
	padding:0;
	top:0;
	left:0;
	font-family: 'avenir';
}
section.main div.body{
	height: 100%;
	width: 100%;
	display: block;
	/*border: 1px solid black;*/
	background: inherit;
}
div.body nav{
	display: block;
	width:100%;
	margin:0;
	padding:0;
}
div.body nav ul{
	padding:10px 0;
}
div.body nav ul li{
	display: inline-block;
	padding:5px 0;
	text-transform: uppercase;
	text-align: center;
	width:16%;
	position: relative;
}
div.body nav ul li.big{
	width:50%;
	text-align: left;
}
nav ul li a{
	text-decoration: none;
	color:#333;
}
div.body div.block{
	padding:20px 0;
	text-align: left;
	width: 100%;
}

nav ul li:hover span.dropdown{
	display: block;
	z-index: 2;
}
nav ul li span.dropdown{
	display: none;
	position: absolute;
	top:100%;
	width: auto;
	left:0;
	box-shadow: 0 0 5px 1px #888;
}
nav ul li span.dropdown div{
	display: block;
	position: relative;
	clear: both;
	padding:15px 20px;
	background-color:white;	
	text-align: left;		
}
nav ul li span.dropdown div a{
	color:#333;
	text-decoration: none;
	white-space: nowrap;
	text-transform: none;
}